{% extends "base.html" %}

{% block main %}

User: {{user}}
Balance: {{balance}}

<a href="{% url 'transfer' %}">Send money</a>
  <h2>Recent transactions</h2>

  <ul>
  {% for tx in transfers %}
    <li>{{ tx.timestamp|timesince }} ago:
      {% if tx.walletto.id == current_profile.id %}
        FROM {{ tx.walletfrom }}
      {% else %}
        TO {{ tx.walletto }}
      {% endif %}
      ({{ tx.amount }})</li>
  {% endfor %}
  </ul>
  <script>
    if (window.opener) {
      window.opener.postMessage('close', '*');
    }
  </script>
{% endblock %}
