{% extends "base.html" %}

{% block main %}

<div class="col-sm-8">
  <h2>Recent transactions</h2>

  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Source</th>
            <th>Amount</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for tx in transfers %}
            <tr>
              <td>{% if tx.wallet_to.id == current_wallet.id %}
                  FROM {{ tx.wallet_from }}
                {% else %}
                  TO {{ tx.wallet_to }}
                {% endif %}
              </td>
              <td><strong>{{tx.amount}}</strong></td>
              <td>{{ tx.timestamp|timesince }} ago</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">Balance</div>
    <div class="panel-body">
      <h2>{{balance}}</h2>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">Tools</div>
      <div class="panel-body">
        <a class="btn btn-primary" href="{% url 'transfer' %}">Send money</a>
      </div>
    </div>
</div>
<script>
  if (window.opener) {
    window.opener.postMessage('close', '*');
  }
</script>
{% endblock %}
