{% extends 'base.html' %}

{% block main %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
  const csrf = Cookies.get('csrftoken');
  
  function receiveMessage(event)
  {
    if (event.data === 'getToken') {
      console.log('opener asking for token');
      // Assuming you've verified the origin of the received message (which
      // you must do in any case), a convenient idiom for replying to a
      // message is to call postMessage on event.source and provide
      // event.origin as the targetOrigin.
      fetch('/api/token?origin=' + event.origin, {
        method: 'POST',
        credentials: 'include',
        headers: new Headers({'X-CSRFToken': csrf})
      })
        .then(response => response.json())
        .then(data => {
          const token = data.token;
          if (token) {
            console.log('sending token to opener');
            event.source.postMessage(`token:${token}`, event.origin);
          }
        })
        .catch(error => {
          console.log('get token error');
          event.source.postMessage({error: error}, event.origin);
        });
    }
  }

  window.addEventListener('message', receiveMessage, false);
</script>
{% endblock %}
